@import url('"https://fonts.googleapis.com/css?family=Lato|Odibee+Sans|Oswald|Roboto&display=swap"');

body {
    width: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

p {
    font-family: 'lato';

}

h3 {
    font-family: 'Oswald';
    text-transform: uppercase;
    padding-bottom: 30px;
}

h4 {
    font-family: 'Oswald';
    text-transform: uppercase;
}

h5 {
    color: white;
}

h6 {
    font-family: 'odibee';
    text-transform: uppercase;
}

/* NavBar */

.top-nav-color {
    background-color: #2f8245;
}
.navbar {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}


#navbarNavDropdown {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    position: relative;
    margin: 25px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

/* Hero Image */

/* <!--HeroImage--> */

#top-jumbo {
    margin-bottom: 0;
    padding: 0;
    

}

.bigbanner {
    height: 100%;
    width: 100%;
    
}

#hero {
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    height: 500px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;



}

/* map */

#map {
  height: 100%;
}

/* About */

.about {
    font-family: 'Oswald';
    padding-top: 50px;
    font-size: 22px;
    color: white;
    background-color: #2f8245;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
    
}

